html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: gray;
}

a {
    text-decoration: none;
}

.bg-one {
    background: #2A0944
}

.bg-two {
    background: #3B185F
}

.bg-three {
    background: #A12568
}

.bg-four {
    background: #FEC260
}

.btn-bg-five {
    background: #A12568;
    border-radius: 10px;
    border: 1px solid #A12568;
    color: white;
}

.text-style-one {
    color: white;
    text-align: center;
    font-size: 14px;
}

.pointer {
    cursor: pointer;
}

.etiqueta { 
    -webkit-border-radius: 300px 0px 0px 0px;
    -moz-border-radius: 300px 0px 0px 0px;
    border-radius: 300px 0px 0px 0px;
}

/* FONTS  */
.font-roboto {
    font-family: 'Roboto', sans-serif;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}